*.pdf

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
**/*.log.gz
/.mixin.out
/TombManyGraves
/backups
/saves
/journeymap
/screenshots
/downloads
/resourcepacks
/crash-reports
.curseclient
options.txt